pkgbase = python-setuptools-scm
	pkgdesc = Handles managing your python package versions in scm metadata
	pkgver = 8.0.4
	pkgrel = 1
	url = https://github.com/pypa/setuptools_scm
	arch = any
	license = MIT
	checkdepends = mercurial
	checkdepends = python-pip
	checkdepends = python-pytest
	checkdepends = python-rich
	makedepends = git
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python-packaging
	depends = python-setuptools
	depends = python-typing_extensions
	source = git+https://github.com/pypa/setuptools_scm.git#tag=v8.0.4
	b2sums = SKIP

pkgname = python-setuptools-scm
